<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/clean/common :: cleanHead"></head>

<body class="home home-3 title-3">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v3" th:replace="fragments/front/clean/common :: cleanHeader">
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<section class="section m-b-70">
							<div class="block block-sliders layout-6 nav-vertical">
								<div class="slick-sliders" data-autoplay="true" data-dots="true" data-nav="false"
									data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1"
									data-columns1440="1" data-columns="1">
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/media/slider/7.jpg"
													alt="Image Slider">
											</div>
											<div class="item-info horizontal-center text-center vertical-middle">
												<div class="content">
													<div class="description-slider m-b-0">The Best of Bathroom Furniture Collections</div>
													<div class="description-slider">고객의 집에 편안함과 아늑함을 선물하는 HiddenBath 입니다.</div>
													<h2 class="title-slider">HIDDEN <strong>BATH</strong></h2>
													<div class="main-button-wrap row">
														<a class="button-slider button-white col-md-4" href="#">비규격 주문</a>
														<a class="button-slider button-white col-md-4" href="#">제품 리스트</a>
														<a class="button-slider button-white col-md-4" href="#">시공 갤러리</a>
													</div>	
														
												</div>
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/media/slider/8.jpg"
													alt="Image Slider">
											</div>
											<div class="item-info horizontal-center text-center vertical-middle">
												<div class="content">
													<div class="description-slider m-b-0">The Best of Bathroom Furniture Collections</div>
													<div class="description-slider">고객의 집에 편안함과 아늑함을 선물하는 HiddenBath 입니다.</div>
													<h2 class="title-slider">HIDDEN <strong>BATH</strong></h2>
													<div class="main-button-wrap row">
														<a class="button-slider button-white col-md-4" href="#">비규격 주문</a>
														<a class="button-slider button-white col-md-4" href="#">제품 리스트</a>
														<a class="button-slider button-white col-md-4" href="#">시공 갤러리</a>
													</div>	
												</div>
											</div>
										</div>
									</div>
									<div class="item slick-slide">
										<div class="item-content">
											<div class="content-image">
												<img width="1920" height="1080" src="/front/clean/media/slider/9.jpg"
													alt="Image Slider">
											</div>
											<div class="item-info horizontal-center text-center vertical-middle">
												<div class="content">
													<div class="description-slider m-b-0">The Best of Bathroom Furniture Collections</div>
													<div class="description-slider">고객의 집에 편안함과 아늑함을 선물하는 HiddenBath 입니다.</div>
													<h2 class="title-slider">HIDDEN <strong>BATH</strong></h2>
													<div class="main-button-wrap row">
														<a class="button-slider button-white col-md-4" href="#">비규격 주문</a>
														<a class="button-slider button-white col-md-4" href="#">제품 리스트</a>
														<a class="button-slider button-white col-md-4" href="#">시공 갤러리</a>
													</div>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding m-b-70">
							<div class="section-container">
								<!-- Block Intro -->
								<div class="block block-intro">
									<div class="block-widget-wrap">
										<div class="intro-image">
											<img width="105" height="105" class="animation-round"
												src="/front/clean/new/loader.png" alt="">
										</div>
										<div class="intro-text">
											히든바스는 앞선 기술력을 바탕으로 풍요로운 <strong>욕실문화를 창조</strong>하며, <br>
											다음과 같은 3가지의 <strong>핵심 서비스</strong>를 통해 고객과 소통합니다. 
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding m-b-70">
							<div class="section-container">
								<!-- Block Banners (Layout 4) -->
								<div class="block block-banners layout-4 banners-effect">
									<div class="block-widget-wrap">
										<div class="row">
											<div class="col-md-4 sm-m-b-50">
												<div class="block-widget-banner layout-5">
													<div class="bg-banner">
														<div class="banner-wrapper banners">
															<div class="banner-image">
																<a href="/survey">
																	<img width="496" height="577"
																		src="/front/clean/media/banner/banner-6.jpg"
																		alt="Banner Image">
																</a>
															</div>
															<div class="banner-wrapper-infor text-center">
																<div class="info">
																	<div class="content">
																		<a class="link-title"
																			href="/survey">
																			<h3 class="title-banner"><strong>온라인 비규격 주문</strong> 시스템</h3>
																		</a>
																		<div class="banner-image-description">
																			고객님이 희망하는 규격과 색상으로 최적화된 주문
																		</div>
																		<a class="button btn-underline" href="/survey">VIEW
																			SERVICE</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4 sm-m-b-50">
												<div class="block-widget-banner layout-5">
													<div class="bg-banner">
														<div class="banner-wrapper banners">
															<div class="banner-image">
																<a href="/productList">
																	<img width="496" height="577"
																		src="/front/clean/media/banner/banner-7.jpg"
																		alt="Banner Image">
																</a>
															</div>
															<div class="banner-wrapper-infor text-center">
																<div class="info">
																	<div class="content">
																		<a class="link-title" href="/productList">
																			<h3 class="title-banner"><strong>다양한 가구 </strong>컬렉션</h3>
																		</a>
																		<div class="banner-image-description">
																			상&#183;하부장부터 다양한 세트 제품까지
																		</div>
																		<a class="button btn-underline" href="/productList">VIEW
																			LIST</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="block-widget-banner layout-5">
													<div class="bg-banner">
														<div class="banner-wrapper banners">
															<div class="banner-image">
																<a href="/construction">
																	<img width="496" height="577"
																		src="/front/clean/media/banner/banner-8.jpg"
																		alt="Banner Image">
																</a>
															</div>
															<div class="banner-wrapper-infor text-center">
																<div class="info">
																	<div class="content">
																		<a class="link-title" href="/construction">
																			<h3 class="title-banner"><strong>정밀한 시공 사례를 </strong>통한 신뢰</h3>
																		</a>
																		<div class="banner-image-description">
																			다양한 사례를 통해 고객님들에게 제품의 신뢰를 제공합니다.
																		</div>
																		<a class="button btn-underline" href="/construction">VIEW
																			ALL</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding top-border p-t-70 m-b-70">
							<div class="section-container">
								<!-- Block Product Categories -->
								<div class="block block-product-cats slider">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2><i class="fa-regular fa-star"></i> HiddenBath Best Products</h2>
											<p class="info-message text-left"># 베스트 제품을 노출하며 클릭시 해당 제품의 상세페이지로 이동합니다.</p>
											<p class="info-message text-left"># 의뢰사가 희망하는 제품 혹은 노출 알고리즘에 따라 표시됩니다.</p>
										</div>
										<div class="block-content">
											<div class="product-cats-list slick-wrap">
												<div class="slick-sliders content-category" data-dots="0"
													data-slidestoscroll="true" data-nav="1" data-columns4="2"
													data-columns3="3" data-columns2="4" data-columns1="5"
													data-columns1440="5" data-columns="5">
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a class="m-b-10" href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a class="m-b-10" href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a class="m-b-10" href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
													<div class="item item-product-cat slick-slide">
														<div class="item-product-cat-content">
															<a href="/productDetail">
																<div class="item-image">
																	<img width="258" height="258"
																		src="/front/clean/media/product/cat-1.jpg"
																		alt="bed-bath">
																</div>
															</a>
															<div class="product-cat-content-info">
																<h2 class="item-title">
																	<a href="#">제품명[제품코드]</a>
																	<p>상부장</p>
																</h2>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section content-outside background-1">
							<div class="container">
								<div class="block-title">
									<p class="info-message text-left"># 관리자가 등록한 시공사례 이미지 중 랜덤으로 노출됩니다.</p>
									<p class="info-message text-left"># 이미지 클릭시 해당 시공사례의 상세페이지로 이동합니다.</p>
								</div>
							</div>
							<div class="block block-banners slider fullwidth">
								<div class="section-column-wrap">
									<div class="block-widget-wrap">
										
										<div class="slick-wrap">
											<div class="slick-sliders" data-centermode="true" data-nav="true"
												data-dots="false" data-columns4="1" data-columns3="1" data-columns2="1"
												data-columns1="1" data-columns="1">
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="#">
																		<img width="1080" height="584"
																			src="/front/clean/media/banner/banner-18.jpg"
																			alt="Image Slider">
																	</a>
																</div>
													 			<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title" href="#">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				2024.01.01 상부장 제품명[제품코드] 시공사례
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="#">
																		<img width="1080" height="584"
																			src="/front/clean/media/banner/banner-19.jpg"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title" href="#">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				2024.01.01 상부장 제품명[제품코드] 시공사례
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item slick-slide">
													<div class="block-widget-banner">
														<div class="bg-banner">
															<div class="banner-wrapper banners">
																<div class="banner-image">
																	<a href="#">
																		<img width="1080" height="584"
																			src="/front/clean/media/banner/banner-20.jpg"
																			alt="Image Slider">
																	</a>
																</div>
																<div class="banner-wrapper-infor">
																	<div class="info">
																		<div class="content">
																			<a class="link-title" href="#">
																				<h3 class="title-banner">시공사례
																				</h3>
																			</a>
																			<div class="banner-image-description">
																				2024.01.01 상부장 제품명[제품코드] 시공사례
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section class="section section-padding top-border p-t-70 m-b-70">
							<div class="section-container">
								<div class="block block-products slider">
									<div class="block-widget-wrap">
										<div class="block-title">
											<h2>HiddenBath Latest Product</h2>
											<p class="info-message text-left"># 관리자가 등록한 제품 중 시간순으로 최신 등록 제품이 표시됩니다.</p>
											<p class="info-message text-left"># 별도의 알고리즘 적용을 통해 랜덤 제품 노출도 가능합니다.</p>
										</div>
										<div class="block-content">
											<div class="content-product-list slick-wrap">
												<div class="slick-sliders products-list grid" data-slidestoscroll="true"
													data-dots="false" data-nav="1" data-columns4="1" data-columns3="2"
													data-columns2="3" data-columns1="3" data-columns1440="4"
													data-columns="4">
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">Hot</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="shop-details.html">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<h3 class="product-title"><a href="#">제품명[제품코드]</a>
																	</h3>
																	<span class="price">제품분류</span>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">Hot</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="shop-details.html">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명[제품코드]</a>
																		</h3>
																		<span class="price">제품분류</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">Hot</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="shop-details.html">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명[제품코드]</a>
																		</h3>
																		<span class="price">제품분류</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">Hot</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="shop-details.html">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명[제품코드]</a>
																		</h3>
																		<span class="price">제품분류</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-product slick-slide">
														<div class="items">
															<div class="products-entry clearfix product-wapper">
																<div class="products-thumb">
																	<div class="product-lable">
																		<div class="hot">Hot</div>
																	</div>
																	<div class="product-thumb-hover">
																		<a href="shop-details.html">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1.jpg"
																				class="post-image" alt="">
																			<img width="600" height="600"
																				src="/front/clean/media/product/1-2.jpg"
																				class="hover-image back" alt="">
																		</a>
																	</div>
																	<div class="product-button">
																		<div class="btn-compare" data-title="Compare">
																			<button class="product-btn">비교화면 보기</button>
																		</div>
																		<span class="product-quickview"
																			data-title="Quick View">
																			<a href="#"
																				class="quickview quickview-button">빠르게
																				보기<i class="icon-search"></i></a>
																		</span>
																	</div>
																</div>
																<div class="products-content">
																	<div class="contents text-center">
																		<h3 class="product-title"><a href="#">제품명[제품코드]</a>
																		</h3>
																		<span class="price">제품분류</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="btn-all">
												<a class="button-outline" href="#">모든제품 보러가기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<footer id="site-footer" class="site-footer background"
			th:replace="fragments/front/clean/common :: cleanFooter">
		</footer>
	</div>
	<th:block th:replace="fragments/front/clean/common :: cleanScript"></th:block>
</body>

</html>